
.main-box{
	width: 1300px;
	text-align: center;
	margin: 0 auto;
}

.basic-grey {
	margin-left:auto;
	margin-right:auto;
	max-width:970px;
	background:#f6f6f6;
	padding:25px 15px 25px 10px;
	font:12px Georgia,"Times New Roman",Times,serif;
	color:#888;
	text-shadow:1px 1px 1px #FFF;
	border:1px solid #E4E4E4;
	display: inline-block;
	width:580px;
	margin:10px;
}

.basic-grey h1 {
	font-size:25px;
	padding:0px 0px 10px 40px;
	display:block;
	border-bottom:1px solid #E4E4E4;
	margin:-10px -15px 11px -10px;
	color:#888;
	text-align: left;
	
}
.basic-grey h1>span {
	display:block;
	font-size:11px;
	padding:20px 20px 0 0;
	padding-bottom:10px;
	text-align: left;
	line-height:20px;
}
.basic-grey label {
	display:block;
	margin:10px;
	text-align:center;
}
.basic-grey label>span {
	float:left;
	width:26%;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
	color:#888;
}
.basic-grey input[type="text"],.basic-grey input[type="number"] {
	border:1px solid #DADADA;
	color:#888;
	height:30px;
	margin-bottom:16px;
	margin-right:6px;
	margin-top:2px;
	outline:0 none;
	padding:3px 3px 3px 5px;
	width:65%;
	font-size:12px;
	line-height:15px;
	box-shadow:inset 0px 1px 4px #ECECEC;
	-moz-box-shadow:inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow:inset 0px 1px 4px #ECECEC;
}
.basic-grey .button {
	background:#0969da;
	border:none;
	padding:10px 25px 10px 25px;
	color:#FFF;
	box-shadow:1px 1px 5px #B6B6B6;
	border-radius:3px;
	text-shadow:1px 1px 1px #513fe6;
	cursor:pointer;
	margin-right:20px;
}
.basic-grey .button:hover  {
	background:#0c09da
}

.explain {
    border: 1px solid #bec3ec;
    height: 60px;
    line-height: 42px;
    background: #f2f6f9;
    color: #1e4e7b;
    padding-left:100px;
    font-size: 19px;
    text-align: center;
	margin-left: 5px;
}
.explain div{
	float: left;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
}


.download-box {
    border-top: 1px solid #E4E4E4;
    height: 60px;
    line-height: 42px;
    padding:10px 0 0 38px;
    font-size: 16px;
    text-align: center;
	margin-top: 20px;    
	margin: 25px -15px 0 -10px;
}

.download-box img{
	float: right;
    margin-top: 10px;
	width:80px;height:80px;
}
.download-box img:hover{
	cursor:pointer;
	transform: scale(1.2);
}
.download-box div{
	font:Georgia,"Times New Roman",Times,serif;
	float: left;
    text-align: left;
    margin-top: 10px;
	margin-right: -2px;
}

.download-input{
	width: 81%;
}
 
.mask{
	background-color:rgba(0,0,0,0.2); width:100%; height:100%;position:fixed;top:0;left:0;
}
.prompt_box{
	width:400px;min-height:200px;height:auto;background:#ffffff;border-radius:6px;
	position:fixed;top:25%; left:50%; margin-left:-200px;overflow: hidden;
}
.prompt_box .prompt_title{
	height:40px;line-height:40px;padding-left:20px;border-bottom:2px solid #a1c7e6;background:#e6e6e6;position: relative;
}
.prompt_box .prompt_title h3{
	font-size:16px;color: #333333; margin-top:0;
}
.prompt_box .prompt_cancel{
	width:24px;height:24px;position: absolute;right:0;top:0;
}

.prompt_box .prompt_cont{
	position: relative;min-height:158px;height:auto;
}
.prompt_box .prompt_cont .prompt_text{
  line-height:25px;
  text-align: left;
  padding: 10px 0 0 20px;
}
.prompt_box .prompt_cont .prompt_sure{
	position: absolute;right:20px;bottom:34px;
	width:50px;height: 26px;background:#0969da;border-radius:5px;color:#ffffff;
	font-size: 14px;line-height:26px;text-align: center;
}
.hide{
	display:none;
}
.show{
	display:block;
}